USE [master]
GO
/****** Object:  Database [CASA_APUESTAS]    Script Date: 2/10/2024 02:28:29 ******/
CREATE DATABASE [CASA_APUESTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CASA_APUESTAS', FILENAME = N'C:\Users\TT\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\CASA_APUESTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CASA_APUESTAS_log', FILENAME = N'C:\Users\TT\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\CASA_APUESTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CASA_APUESTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CASA_APUESTAS]
GO
/****** Object:  Table [dbo].[DEPORTE]    Script Date: 2/10/2024 02:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPORTE](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](10) NULL,
 CONSTRAINT [PK_DEPORTE] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 2/10/2024 02:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NULL,
	[equipo_local] [nvarchar](max) NULL,
	[equipo_visitante] [nvarchar](max) NULL,
	[fecha_registro] [datetime] NULL,
	[marcador_local] [int] NULL,
	[marcador_visitante] [int] NULL,
	[fecha_partido] [datetime] NULL,
 CONSTRAINT [PK_PARTIDO] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPORTE] ON 

INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'FUTBOL    ')
INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'BASQUET   ')
INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'TENIS     ')
SET IDENTITY_INSERT [dbo].[DEPORTE] OFF
GO
SET IDENTITY_INSERT [dbo].[PARTIDO] ON 

INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [equipo_local], [equipo_visitante], [fecha_registro], [marcador_local], [marcador_visitante], [fecha_partido]) VALUES (2, 1, N'River Plate', N'Boca Juniors', CAST(N'2024-10-02T01:59:51.117' AS DateTime), 0, 0, CAST(N'2024-10-03T01:59:29.907' AS DateTime))
INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [equipo_local], [equipo_visitante], [fecha_registro], [marcador_local], [marcador_visitante], [fecha_partido]) VALUES (3, 1, N'Barcelona', N'Real Madrid', CAST(N'2024-10-02T02:02:33.790' AS DateTime), 0, 0, CAST(N'2024-10-04T02:02:09.597' AS DateTime))
INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [equipo_local], [equipo_visitante], [fecha_registro], [marcador_local], [marcador_visitante], [fecha_partido]) VALUES (5, 3, N'Luis Socae', N'Sanlosis Hugo', CAST(N'2024-10-02T02:06:55.070' AS DateTime), 3, 1, CAST(N'2024-10-02T02:06:22.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[PARTIDO] OFF
GO
ALTER TABLE [dbo].[PARTIDO]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_DEPORTE1] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[DEPORTE] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[PARTIDO] CHECK CONSTRAINT [FK_PARTIDO_DEPORTE1]
GO
USE [master]
GO
